body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
#topbar {
    overflow: auto;
    /* border: 1px solid; */
    margin: 0.5em 0 0 0;
}
#title {
    /* border: 1px solid; */
    text-align: center;
}
#filters {
    /* border: 1px solid; */
}
.filter {
    float: left;
    margin: 0 15px 0 0;
    text-align: center;
}
#content {
    overflow: auto;
    margin: 1em auto;
    max-width: 600px;
    border: 1px dotted #333;
    padding: 20px;
}
#projects {
    overflow: auto;
    margin: 1em auto;
    max-width: 600px;
    border: 1px dotted #333;
    padding: 20px;
}
.project {
    float: left;
    width: 150px;
    height: 150px;
    background: #ccc;
    margin: 0 15px 15px 0;
}