body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
img {
    display: block;
    margin: 0 auto;
}
#topbar {
    overflow: auto;
    /* border: 1px solid; */
    margin: 0.5em 0 0 0;
}
#title {
    /* border: 1px solid; */
    text-align: center;
    margin: 0 0 0.3em 0;
}
#filters {
    /* border: 1px solid; */
    display: table;
    margin: 0 auto;
}
.filter {
    float: right;
    margin: 0 5px 0 5px;
    text-align: center;
    cursor: pointer;
    /* color: teal; */
}
#properties {
    /* border: 1px solid; */
    display: table;
    margin: 0 auto;
}
.property {
    float: right;
    margin: 0 5px 0 0;
    text-align: center;
    cursor: pointer;
    /* color: purple; */
}
#arrow {
    float: right;
    margin: 0;
    text-align: center;
    /* color: purple; */
}
.included {
    font-weight: bold;
    color: black;
}
.excluded {
    /* font-weight: bold; */
    color: red;
    text-decoration: line-through;
}
.unreachable {
    color: lightgray;
}
.visible {
    display: block;
}
.hidden {
    display: none;
}
#content {
    margin: 1em auto;
    max-width: 600px;
}
#projects {
    margin: 1em auto;
    max-width: 600px;
}
.project {
    position: relative;
    padding: 10px 10px 10px 10px;
    border: 1px solid #333;
    margin: 0 0 15px 0;
    color: black;
}
a {
    /* How else to remove link underline from project boxes? */
    text-decoration: none;
}