body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}
img {
    display: block;
    margin: 0 auto;
}
#topbar {
    overflow: auto;
    /* border: 1px solid; */
    margin: 0.5em 0 0 0;
}
#title {
    /* border: 1px solid; */
    text-align: center;
    margin: 0 0 0.3em 0;
}
#filters {
    /* border: 1px solid; */
    display: table;
    margin: 0 auto;
}
.filter {
    float: left;
    margin: 0 5px 0 5px;
    text-align: center;
    cursor: pointer;
    color: teal;
}
.property {
    float: left;
    margin: 0 5px 0 5px;
    text-align: center;
    cursor: pointer;
    color: purple;
}
#arrow {
    float: left;
    margin: 0;
    text-align: center;
    /* color: purple; */
}
.selected {
    font-weight: bold;
}
.visible {
    display: block;
}
.hidden {
    display: none;
}
#content {
    /* overflow: auto; */
    margin: 1em auto;
    max-width: 600px;
    /* border: 1px dotted #333; */
    /* padding: 0 0 0 15px; */
}
#projects {
    /* overflow: auto; */
    margin: 1em auto;
    max-width: 600px;
    /* max-width: 800px; */
    /* border: 1px dotted #333; */
    /* padding: 15px 0 0 15px; */
}
.project {
    position: relative;
    float: left;
    width: 185px;
    height: 185px;
    background: #ccc;
    margin: 0 15px 15px 0;
}
.project span {
    position: absolute;
    bottom: 0;
    color: black;
    background-color: white;
}