<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="flog.css" type="text/css">
  </head>
  <body>
    <div id="topbar">
      <div id="title">
      {% for url, heading in node.Breadcrumbs() %}
        {% if loop.last %}
          / {{ heading }}
        {% else %}
          / <a href="{{ url }}">{{ heading }}</a>
        {% endif %}
      {% endfor %}
      </div>
    </div>
    {% if content %}
    <div id="content">{{ content }}</div>
    {% endif %}
    {% if projects %}
    <div id="projects">
      {% for project in projects %}{{ project }}{% endfor %}
    </div>
    {% endif %}
  </body>
  <script language="javascript" type="text/javascript" src="flog.js">
  </script>
</html>
